body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: lightblue;
    font-family: Arial, sans-serif;
}

h1 {
    color: white;
    text-align: center;
    background-color: rgba(139, 0, 23, 0.284);
    padding: 20px;
    border-radius: 10px;
    font-size: 50px;
    line-height: 75%
}

nav {
    display: flex;
    justify-content: space-around;
}

.redbox {
    background-color: red;
    width: 400px;
    height: 400px;
}

.green {
    background-color: green;
}